In [ ]:
# Initialize OK
from client.api.notebook import Notebook
ok = Notebook('lab03.ok')

# Lab 3: Regular Expressions / Visualization

In this lab, there are two main sections: The first section is on regular expressions. In the second section, you
will be working on visualizing a dataset from the City of Berkeley containing data on calls to the Berkeley Police Department. Information about the dataset can be found [at this link](https://data.cityofberkeley.info/Public-Safety/Berkeley-PD-Calls-for-Service/k2nh-s5h5).

Note: This lab will not work on older versions of Python; make sure to work on DataHub or activate your DS100 environment if working locally.

**This assignment should be completed and submitted by 11:59 PM on Monday Feb 24, 2020.**

**Warning: This lab includes an analysis of crime in Berkeley. If you feel uncomfortable about the topic, please feel free to contact your GSI or the instructors.**

In [ ]:
import pandas as pd
import numpy as np
import re

---
# Section 1: Regular Expressions


You will practice the basic usage of regular expressions and also learn to use `re` module in Python.  Some of the materials are based on the tutorial at http://opim.wharton.upenn.edu/~sok/idtresources/python/regex.pdf. As you work through the first part of the lab, we suggest you to use the website http://regex101.com, especially when you have difficulties matching your answer with the asked part of string.



We'll start by learning about the simplest possible regular expressions. Since regular expressions are used
to operate on strings, we'll start with the most common task: matching characters.

Most letters and characters will simply match themselves. For example, the regular expression `r'test'` will match the string `test` exactly. There are exceptions to this rule; some characters are special, and don't match themselves.

Here is a list of metacharacters that are widely used in regular experssion. 

<table border="1" class="dataframe" >
<thead>
  <tr style="text-align: right;">
    <th>Pattern </th>
    <th>Description</th> 
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>^</td>
    <td>Matches beginning of line.</td> 
  </tr>
  <tr>
    <td>$</td>
    <td>Matches end of line.</td> 
  </tr>
  <tr>
    <td>.</td>
    <td>Matches any single character except newline. </td> 
  </tr>
  <tr>
    <td>*</td>
    <td>Matches 0 or more occurrences of preceding expression.</td>
  </tr>
  <tr>
    <td>+</td>
    <td>Matches 1 or more occurrence of preceding expression.</td>
  </tr>
  <tr>
    <td>?</td>
    <td>Matches 0 or 1 occurrence of preceding expression.</td>
  </tr>
  <tr>
    <td>[...]</td>
    <td>Matches any single character in brackets.</td>
  </tr>
  <tr>
    <td>[^...]</td>
    <td>Matches any single character <b>not</b> in brackets.</td>
  </tr>
  <tr>
    <td>{n}</td>
    <td>Matches exactly n number of occurrences of preceding expression.</td>
  </tr>
  <tr>
    <td>{n,}</td>
    <td>Matches n or more occurrences of preceding expression.</td>
  </tr>
  <tr>
    <td>{n,m}</td>
    <td>Matches at least n and at most m occurrences of preceding expression.</td>
  </tr>
  <tr>
    <td>a|b</td>
    <td>Matches either a or b.</td>
  </tr>
  <tr>
    <td>\1...\9</td>
    <td>Matches n-th grouped subexpression.</td>
  </tr>
  </tbody>
</table>


Perhaps the most important metacharacter is the backslash, ‘\’. As in Python string literals, the backslash
can be followed by various characters to signal various special sequences. It’s also used to escape all the
metacharacters so you can still match them in patterns; for example, if you need to match a `[` or `\`, you
can precede them with a backslash to remove their special meaning:  `\[` or `\\`. 

The following predefined special sequences are available:

<table border="1" class="dataframe" >
<thead>
  <tr style="text-align: right;">
    <th>Pattern </th>
    <th>Description</th> 
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>\d</td>
    <td>Matches any decimal digit; this is equivalent to the class `[0-9]`</td> 
  </tr>
  <tr>
    <td>\D</td>
    <td>Matches any non-digit character; this is equivalent to the class `[^0-9]`.</td> 
  </tr>
  <tr>
    <td>\s</td>
    <td>Matches any whitespace character; this is equivalent to the class `[ \t\n\r\f\v]` </td> 
  </tr>
  <tr>
    <td>\S</td>
    <td>Matches any non-whitespace character; this is equivalent to the class `[^ \t\n\r\f\v]`.</td>
  </tr>
  <tr>
    <td>\w</td>
    <td>Matches any alphanumeric character; this is equivalent to the class `[a-zA-Z0-9_]`</td>
  </tr>
  <tr>
    <td>\W</td>
    <td>Matches any non-alphanumeric character; this is equivalent to the class `[^a-zA-Z0-9_]`.</td>
  </tr>
  </tbody>
</table>

# Question 1
In this question, write patterns that match the given sequences. It may be as simple as the common letters on each line.

---
## Question 1a

Write a single regular expression to match the following strings without using the `|` operator.

1. **Match:** `abcdefg`
1. **Match:** `abcde`
1. **Match:** `abc`
1. **Skip:** `c abc`

<!--
BEGIN QUESTION
name: q1a
-->

In [ ]:
regx1 = r"" # fill in your pattern
...

In [ ]:
ok.grade("q1a");

---
## Question 1b

Write a single regular expression to match the following strings without using the `|` operator.

1. **Match:** `can`
1. **Match:** `man`
1. **Match:** `fan`
1. **Skip:** `dan`
1. **Skip:** `ran`
1. **Skip:** `pan`

<!--
BEGIN QUESTION
name: q1b
-->

In [ ]:
regx2 = r"" # fill in your pattern
...

In [ ]:
ok.grade("q1b");

# Question 2

Now that we have written a few regular expressions, we are now ready to move beyond matching. In this question, we'll take a look at some methods from the `re` package.

---
## Question 2a:

Write a Python program to extract and print the numbers of a given string. 

1. **Hint:** use `re.findall`
2. **Hint:** use `\d` for digits and one of either `*` or `+`.

<!--
BEGIN QUESTION
name: q2a
-->

In [ ]:
text_q2a = "Ten 10, Twenty 20, Thirty 30"

res_q2a = ...
...

res_q2a

In [ ]:
ok.grade("q2a");

---
## Question 2b:

Write a Python program to replace at most 2 occurrences of space, comma, or dot with a colon.

**Hint:** use `re.sub(regex, "newtext", string, number_of_occurences)`

<!--
BEGIN QUESTION
name: q2b
-->

In [ ]:
text_q2b = 'Python Exercises, PHP exercises.'
res_q2b = ... # Hint: use re.sub()
...

res_q2b

In [ ]:
ok.grade("q2b");

---
## Question 2c: 

Write a Python program to extract values between quotation marks of a string.

**Hint:** use `re.findall`


<!--
BEGIN QUESTION
name: q2c
-->

In [ ]:
text_q2c = '"Python", "PHP", "Java"'
res_q2c = ... 
...

res_q2c

In [ ]:
ok.grade("q2c");

## Question 2d:

Write a regular expression to extract and print the quantity and type of objects in a string. You may assume that a space separates quantity and type, ie. `"{quantity} {type}"`. See the example string below for more detail.

1. **Hint:** use `re.findall`
2. **Hint:** use `\d` for digits and one of either `*` or `+`.

<!--
BEGIN QUESTION
name: q2d
-->

In [ ]:
text_q2d = "I've got 10 eggs that I stole from 20 gooses belonging to 30 giants."

res_q2d = ...
...

res_q2d

In [ ]:
ok.grade("q2d");

## Question 2e:

Write a regular expression to replace all vowels with a lowercase letter “o”. Given that address is a string, use re.sub to change "123 Orange Street" into "123 orongo Stroot". This question is from Disc05, Question #7.

**Hint:** use `re.sub(regex, "newtext", string, number_of_occurences)`


<!--
BEGIN QUESTION
name: q2e
-->

In [ ]:
text_q2e = "123 Orange Street"

res_q2e = ...
...

res_q2e

In [ ]:
ok.grade("q2e");

## Question 2f:

Fill in the regular expression in the variable pattern below so that after it executes, day is 26, month is Jan, and year is 2014.

1. **Hint:** use `re.findall`
2. **Hint:** pay attention to the data type after using `re.findall`
3. **Hint:** use `\[` and `\/` to match the character '[' and '/'.


<!--
BEGIN QUESTION
name: q2f
-->

In [ ]:
text_q2f = '169.237.46.168 - - [26/Jan/2014:10:47:58 -0800] \
"GET /stat141/Winter04/ HTTP/1.1" 200 2585 \
"http://anson.ucdavis.edu/courses/"'
pattern = ... # Hint: only pattern has to be regular expression
day = ... # day, month, year all depend on pattern
month = ...
year = ...
...
pattern

In [ ]:
ok.grade("q2f");

--- 

# Section 2: Visualization

In [ ]:
import pandas as pd
import numpy as np
import zipfile
import matplotlib
import matplotlib.pyplot as plt

# optional seaborn styling
plt.style.use('seaborn-deep')
plt.rcParams['figure.figsize'] = (12, 9)

For this part of the assignment we will use the Berkeley Police Department Call Logs.

In [ ]:
import ds100_utils

data_dir = 'data'
data_url = 'http://www.ds100.org/sp20/assets/datasets/lab03_data_sp20.zip'
file_name = 'lab03_data_sp20.zip'

dest_path = ds100_utils.fetch_and_cache(data_url=data_url, file=file_name, data_dir=data_dir)
print(f'Located at {dest_path}')

We will open the zip file contents without decompressing it.  Run the cell below to open the calls data.

In [ ]:
my_zip = zipfile.ZipFile(dest_path, 'r')
calls = pd.read_csv(my_zip.open('Berkeley_PD_-_Calls_for_Service.csv'))
calls.head()

## Pandas Examples

Pandas offers basic functionality for plotting. For example, the `DataFrame` and `Series` classes both have a `plot` method. 

As you learn to do data visualization, you may find the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html)  helpful!

As an example of the built-in plotting functionality of pandas, the following example uses `plot` method of the `Series` class to generate a `barh` plot type to visually display the value counts for `CVLEGEND`.

There are also many other plots that we will explore throughout the lab.

In [ ]:
ax = calls['CVLEGEND'].value_counts().plot(kind='barh')
ax.set_ylabel("Crime Category")
ax.set_xlabel("Number of Calls")
ax.set_title("Number of Calls By Crime Type");



## An Additional Note on Plotting in Jupyter Notebooks

You may have noticed that many of our code cells involving plotting end with a semicolon (;). This prevents any extra output from the last line of the cell that we may not want to see. Try adding this to your own code in the following questions!

## Question 3

Now it is your turn to make some plots using `pandas`  Let's start by transforming the data so that it is easier to work with We then will look at some distributions of the data. 

The CVDOW field isn't named helpfully and it is hard to see the meaning from the data alone. According to the website linked at the top of this notebook, CVDOW is actually indicating the day that events happened. 0->Sunday, 1->Monday ... 6->Saturday. 

### Question 3a

Add a new column `Day` into the `calls` dataframe that has the string weekday (eg. 'Sunday') for the corresponding value in CVDOW. For example, if the first 3 values of `CVDOW` are `[3, 6, 0]`, then the first 3 values of the `Day` column should be `["Wednesday", "Saturday", "Sunday"]`.

**Hint:** *Try using the [Series.map](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html) function on `calls["CVDOW"]`.  Can you assign this to the new column `calls["Day"]`?*

<!--
BEGIN QUESTION
name: q3a
-->

In [ ]:
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
day_indices = range(7)
indices_to_days_dict = dict(zip(day_indices, days)) # Should look like {0:"Sunday", 1:"Monday", ..., 6:"Saturday"}

...

In [ ]:
ok.grade("q3a");

### Question 3b

Now let's look at the EVENTTM column which indicates the time for events. Since it contains hour and minute information, let's extract the hour info and create a new column named `Hour` in the `calls` dataframe. You should save the hour as an `int`.


**Hint:** * Your code should only require one line

<!--
BEGIN QUESTION
name: q3b
-->

In [ ]:
...

In [ ]:
ok.grade("q3b");

### Question 3c

Using `pandas`, Construct a vertical bar plot with the count of the number of calls (entries in the table) for each day of the week **ordered by the day of the week** (eg. `Sunday`, `Monday`, ...). Be sure that your axes are labeled and that your plot is titled.  There should be approximately 500 calls per day.

**Hint:** *Given a series `s`, and an array `coolIndex` that has the same entries as in `s.index`, `s[coolIndex]` will return a copy of the series in the same order as `coolIndex`.*

<!--
BEGIN QUESTION
name: q3c
-->

In [ ]:
...



# Leave this for grading purposes
ax_3c = plt.gca()

In [ ]:
ok.grade("q3c");

### Question 3d


Using `pandas`, construct a line plot with the count of the number of calls (entries in the table) for each hour of the day  **ordered by the time** (eg. `12:00 AM`, `1:00 AM`, ...). Be sure that your axes are labeled and that your plot is titled. 

<!--
BEGIN QUESTION
name: q3d

-->

In [ ]:
...



# Leave this for grading purposes
ax_3d = plt.gca()

In [ ]:
ok.grade("q3d");

##### Why do you think this happens? Are there more calls in the day or night? What is the least popular time? Most? (Answer Below)

## Question 4

It seems weekdays generally have slightly more calls than Saturday or Sunday, but the difference does not look significant.  

We can break down into some particular types of events to see their distribution. For example, let's make a bar plot for the CVLEGEND "ROBBERY". Which day is the peak for "ROBBERY"?

### Question 4a

Use `pandas` to create a vertical bar plot of the number of total robberies reported on each day of the week, again ordered by the days of the week starting with Sunday.

**Hint:** *This should be very similar to Question 3b*

<!--
BEGIN QUESTION
name: q4a
-->

In [ ]:
...



# Leave this for grading purposes
ax_4a = plt.gca()

In [ ]:
ok.grade("q4a");

### Question 4b

Do you observe anything interesting about the distribution of ROBBERY calls over a week? Type a 1-sentence answer in the cell below.

## Question 5

In the cell below, generate a boxplot which examines the hour of day of each crime broken down by the `CVLEGEND` value.  To construct this plot use the [DataFrame.boxplot](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.boxplot.html) documentation.

##### Looking at your plot, which crime type appears to have the largest interquartile range? Put your results into `answer5` as a string.


<!--
BEGIN QUESTION
name: q5
-->

In [ ]:
answer5 = ...
...

In [ ]:
ok.grade("q5");

**Important**: To make sure the test cases run correctly, click `Kernel>Restart & Run All` and make sure all of the test cases are still passing. Doing so will submit your code for you. 

If your test cases are no longer passing after restarting, it's likely because you're missing a variable, or that modifications that you'd previously made to your Data Frame are no longer taking place (perhaps because you deleted a cell). 

You may submit this assignment as many times as you'd like before the deadline.

**You must restart and run all cells before submitting. Otherwise, you may pass test cases locally, but not on our servers. We will not entertain regrade requests of the form, “my code passed all of my local test cases, but failed the autograder”.**

## Congratulations

Congrats! You are finished with this assignment.

# Submit
Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output.
**Please save before submitting!**

In [ ]:
# Save your notebook first, then run this cell to submit.
ok.submit()